<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263095138187-j856f6gqivekiovivjequm2dcp8aigd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263095138187-j856f6gqivekiovivjequm2dcp8aigd6</string>
	<key>API_KEY</key>
	<string>AIzaSyC3EpWvg1mQA07xl-Ewq2URJfRzTpAg1Xs</string>
	<key>GCM_SENDER_ID</key>
	<string>263095138187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kazumanoha.TODOapp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-fa0e2</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-fa0e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263095138187:ios:b6fcc9233786281203e18e</string>
	<key>DATABASE_URL</key>
	<string>https://todoapp-fa0e2.firebaseio.com</string>
</dict>
</plist>